* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* style menu bar */

.menu-container{
    background-color: gray;
    padding: 10px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.menu{
    display: flex;
  }
  .items{
      margin-right: 10px;
      padding-right: 7px;
      cursor: pointer;
  }
  .items:hover{
      color: orange;
  }

  /* banner-section-style */

.section-container {
  height: 760px;
  background: rgba(229, 84, 115, 0.1);
  margin-bottom: 140px;
  margin-top: 5px;
}
.banner-container {
  width:1300px ;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.banner-content {
  padding: 10px;
}

.title {
  color: #272727;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 32px;
}
.content {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}
.image {
  width: 600px;
}

.btn-primary {
  padding: 15px 43px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  color: #ffffff;
  font-size: 20px;
}
.btn-primary:hover {
  background-color: rgb(248, 71, 7);
}

/* Feature-style from here */

.feature-title-container {
  text-align: center;
  margin-bottom: 40px;
}

.fe-title {
  font-size: 30px;
  font-weight: bold;
}
.features-contain {
  width: 1300px;
  height: 500px;
  margin: auto;
  margin-bottom: 120px;
}
.all-features {
  display: flex;
  justify-content: space-between;
}

.feature-0 {
  width: 350px;
  height: 500px;
  background: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
  position: relative;
}
.feature-img {
  width: 230px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 50px;
}
.feature-1 {
  width: 350px;
  height: 500px;
  background: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  position: relative;
}
.feature-img-1 {
  width: 230px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 50px;
}
.feature-2 {
  width: 350px;
  height: 500px;
  background: rgba(71, 125, 17, 0.15);
  border-radius: 300px 300px 0px 0px;
  position: relative;
}
.feature-img-3 {
  width: 230px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 50px;
}

/* service-section-style */
.service-conatiner {
  width: 1300px;
  height: 230px;
  margin: auto;
  background: rgba(39, 39, 39, 0.05);
  border-radius: 10px;
  margin-bottom: 100px;
}
.services {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.service {
  text-align: center;
  padding-top: 40px;
}

/* hot-container-style */
.hot-container {
  height: 580px;
  background: rgba(229, 84, 115, 0.05);
  border-radius: 8px;
  margin-bottom: 130px;
}
.hot-section {
  width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.hot-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
}
.text-red {
  color: #e55473;
}
.hot-details {
  padding-bottom: 30px;
}

/* instagram section style */
.instagram-section-container {
  width: 1300px;
  height: 396px;
  margin: auto;
  margin-bottom: 128px;
}
.instagram-container {
  display: flex;
  justify-content: space-around;
}

.insta-img {
  width: 300px;
  height: 396px;
  border-radius: 10px;
}
.section-title-container {
  text-align: center;
  margin-bottom: 48px;
}
.insta-title {
  font-size: 40px;
}

/* latest section style */
.latest-section {
  width: 1300px;
  height: 340px;
  margin: auto;
  background-image: url("../Flower Asset/Rectangle\ 9.png"),
    linear-gradient(45deg, rgb(192, 168, 168), white);
  border-radius: 10px;
  margin-bottom: 128px;
}
.latest-title {
  font-size: 35px;
}
.content {
  text-align: center;
}
.latest-box {
  padding-top: 40px;
  text-align: center;
}
.email-input {
  padding: 15px 43px;
  border: none;
  width: 600px;
  border-radius: 5px;
  margin-right: 10px;
}

/* Footer-container-style */
.footer-container {
  height: 410px;
  background-color: #111010;
  
}
.footer-content-container{
    width: 1300px;
    margin: auto;
    padding-top: 80px;
}
.footer-content{
    text-align: center;
}
.footer-title {
  color: #e55473;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text-white{
    color: #ffffff;
}
